body {
	 background-color: #00ffee;
}

h1 {
	font-family: arial, verdana, sans-serif;
	font-size: 60pt;
	text-align: center;
	color:  #00ff00;
	padding: 10px;
	border: 5px solid #00ff00;
	background-color: blue; 
}

.navigateBar {
	font-family: arial, verdana, sans-serif;
	font-size: 20pt;
	text-align: justify;
	color: #66ff99;
}

.subHead {
	font-family: arial, verdana, sans-serif;
	font-size: 24pt;
	text-align: center;
	color: black;
}

.text {
	font-family: arial, verdana, sans-serif;
	font-size: 16pt;
	text-align: justify;
	color: white;
	padding: 10px;
	border: 5px solid #0000cc;
	background-color: #0066ff;
	margin-left: 10%;
	margin-right: 10%;
}

.picture {
	border: 5px solid #0000cc;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#toc {
	float: left;
	border: 5px solid #0000cc;
	padding: 10px;
	margin-left: 20px;
	color: white;	
	background-color: #0066ff;	
	font-family: Lucida Sans Unicode, serif;
}

#intro {
	margin-left: 20%;
	padding-bottom: 180px; 
}

